@font-face {
  font-family: "iconfont"; /* Project id 3905973 */
  src: url('iconfont.woff2?t=1678864888617') format('woff2'),
       url('iconfont.woff?t=1678864888617') format('woff'),
       url('iconfont.ttf?t=1678864888617') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fuhao-yuedu:before {
  content: "\e72d";
}

.icon-gengduo:before {
  content: "\e63e";
}

.icon-xinxikongxin:before {
  content: "\ed1b";
}

.icon-liebiao:before {
  content: "\e62d";
}

.icon-guanlian:before {
  content: "\e639";
}

.icon-xingzhuang-tupian:before {
  content: "\eb98";
}

.icon-pinglun:before {
  content: "\e61e";
}

.icon-fuzhi:before {
  content: "\e8b0";
}

.icon-login:before {
  content: "\e636";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-yonghu:before {
  content: "\e619";
}

.icon-icon-arrow-right4:before {
  content: "\e67b";
}

.icon-icon-arrow-left4-copy:before {
  content: "\e8b5";
}

.icon-faxian:before {
  content: "\e63b";
}

.icon-tag:before {
  content: "\e7f0";
}

.icon-rili:before {
  content: "\e8b4";
}

.icon-rise:before {
  content: "\e618";
}

.icon-gengxin:before {
  content: "\e65f";
}

.icon-diqiu:before {
  content: "\e60a";
}

.icon-feijichang:before {
  content: "\e623";
}

.icon-sousuo:before {
  content: "\e622";
}

